@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .dark-glass {
    background-color: rgba(16 18 27 / 40%);
  }
  .bg-glass {
    background-color: rgb(255 255 255 / 31%);
  }
  .glass-bg {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .to-back {
    z-index: -1;
  }
  .front-idex {
    z-index: 100;
  }
  .bg-panel {
    background-color: #e6f1fb;
  }
  .flashing {
    width: 8px;
    height: 8px;
    background: lightgreen;
    border-radius: 50%;
    animation: flashLight 1s infinite;
  }

  @keyframes flashLight {
    from {
      background: lightgreen;
    }
    to {
      background: white;
    }
  }
}
