@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .textPolyFillWrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-wrap: break-all;
    word-wrap: break-word;
    white-space: normal;
    /* overflow: hidden; */
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
  }
  .textPolyFill {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-wrap: break-all;
    white-space: normal;
  }
  .centerBox {
    display: fixed;
    bottom: 150px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smFleetsBox {
    max-height: 300px;
  }
  .minWidthFleetList {
    min-width: 350px;
  }

  /*******************************************************************************************************/
  /*       FIREFOX DOESN'T SUPPORT BACKDROP-FILTER OUT OF THE BOX          */
  /*       AND HENCE TO APPLY BACKDROP-FILTER SUPPORTED BROWSER AND FALLBACK FOR THOSE DOES NOT          */

  /* backdrop-filter fallback */
  .backdropBlur {
    background-color: #ffffff;
    /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1); */
  }
  .darkBackdropBlur {
    background-color: #0f172a;
  }

  /* if backdrop support: apply this styles */
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdropBlur {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      /* -webkit-backdrop-filter: blur(30px); */
    }
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .darkBackdropBlur {
      background-color: rgba(15, 23, 42, 0.2);
      backdrop-filter: blur(10px);
      /* -webkit-backdrop-filter: blur(30px); */
    }
  }
  /*******************************************************************************************************/

  .dark-glass {
    background-color: rgba(16 18 27 / 40%);
  }
  .bg-glass {
    background-color: rgb(255 255 255 / 31%);
  }
  .glass-bg {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .to-back {
    z-index: -1;
  }
  .front-idex {
    z-index: 100;
  }
  .bg-panel {
    background-color: #e6f1fb;
  }
  .flashing {
    width: 8px;
    height: 8px;
    background: lightgreen;
    border-radius: 50%;
    animation: flashLight 1s infinite;
  }

  @keyframes flashLight {
    from {
      background: lightgreen;
    }
    to {
      background: white;
    }
  }
}

@layer base {
  @font-face {
    font-family: "GoogleSans";
    src: local(""),
      url("./assets/fonts/google-sans/ProductSans-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "GoogleSans";
    src: local(""),
      url("./assets/fonts/google-sans/ProductSans-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* for thai charecters specifically */
  @font-face {
    font-family: "Kanit";
    src: local(""),
      url("./assets/fonts/kanit/Kanit-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E00 - U+0E7F;
  }
  @font-face {
    font-family: "Kanit";
    src: local(""),
      url("./assets/fonts/kanit/Kanit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E00 - U+0E7F;
  }
}
